
/* 主体 */
/* .book-body {
	background-color: #F3EACD;
}

.markdown-section hr {
	height: 1px;
    background-color: #a7a7a7;
} */


#book-search-input {
	background: #fff !important;
}

nav.intopic-toc h3 {
	display: none;
}

nav.intopic-toc ul.navbar-nav > li.active a {
    /* color: #0099CC; */
}

nav.intopic-toc .nav > li > a:hover,
nav.intopic-toc .nav > li > a:focus {
	color: #0099CC;
	border-left: 2px solid #0099CC;
}

nav.intopic-toc .nav > li.active > a,
nav.intopic-toc .nav > li.active > a:hover,
nav.intopic-toc .nav > li.active > a:focus {
	color: #0099CC;
    border-left: 2px solid #0099CC;
}